* {
  margin: 0;
  padding: 0;
}

html {
  background: #0d0e13;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 1;
}

body {
  width: 400vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.section {
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Cabin", sans-serif;
  color: #ffeded;
  padding-left: 6%;
  padding-right: 10%;
  white-space: normal;
  vertical-align: top;
  z-index: 10;
}

/* Top Bar */
.top-bar {
  position: absolute;
  width: 1320px;
  height: 40px;
  left: 60px;
  top: 40px;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 24px;
  pointer-events: auto;
}

.close-button {
  width: 40px;
  height: 40px;
  border: 1px solid #888888;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-chapter {
  position: absolute;
  width: 127px;
  height: 11px;
  left: calc(50% - 389px / 2 - 127.5px);
  top: 613px;
}

.menu-chapter a {
  font-family: "Lausanne";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 80%;
  text-decoration-line: underline;
  color: #e0ccbb;
}

.scroll-wrapper {
  display: flex;
  width: 400vw; /* 100vw * number of sections */
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section-title {
  width: 700px;
  font-family: "TWK Lausanne";
  font-style: normal;
  font-weight: 300;
  font-size: 100.43px;
  line-height: 100px;
  letter-spacing: -3.48716px;
  color: #e0ccbb;
}

.description {
  width: 389px;
  font-family: "Lausanne";
  font-style: normal;
  font-weight: 300;
  font-size: 18.125px;
  line-height: 24px;
  color: #e4e0db;
}

.link-chapter {
  width: 127px;
}

.link-chapter a {
  font-family: "Lausanne";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 80%;
  text-decoration-line: underline;
  color: #e0ccbb;
}

.celebrate .section-title {
  width: 500px;
}

.showreel-video {
  width: 644px;
  height: 362px;
  left: calc(50% - 644px / 2);
  top: 244px;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  color: #ffffff;
  font-size: 0.75rem;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 99;
  mix-blend-mode: difference;
  backdrop-filter: blur(4px);
}
.custom-cursor.visible {
  opacity: 1;
}

.custom-cursor span {
  color: #ffffff !important;
  font-family: "Lausanne";
  font-size: 0.75rem;
  white-space: nowrap;
}

/* Bottom Bar */
.bottom-bar {
  position: fixed;
  width: 1320px;
  height: 49px;
  top: 700px;
  left: 60px;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sound-button {
  border: 1px solid #e0ccbb;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-progress {
  display: flex;
  gap: 40px;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #e0ccbb;
  opacity: 0.6;
}

.dot.active {
  background-color: #e0ccbb;
}

.next-chapter a {
  color: #e0ccbb;
  text-decoration: underline;
  font-family: "Lausanne";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 80%;
}
