* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* background: #0d0e13; */
  background: black;
}

/* Top Bar */
.top-bar {
  position: fixed;
  width: 1320px;
  height: 40px;
  left: 60px;
  top: 40px;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 24px;
  pointer-events: auto;
}

.close-button {
  width: 40px;
  height: 40px;
  border: 1px solid #888888;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */

.milestonesChapter {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  font-family: "TWK Lausanne";
  color: #e0ccbb;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 13vw 8vw 0 8vw;
  position: relative;
  z-index: 3;
}

.title {
  line-height: 225px;
  margin-top: 100px;
  margin-bottom: 90px;
}

.title-line {
  font-family: "TWK Lausanne";
  font-style: normal;
  font-weight: 300;
  font-size: 225.094px;
}

.intro {
  width: 381px;
  font-weight: 400;
  font-size: 18.125px;
  line-height: 26px;
  opacity: 0.8;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.icon {
  width: 12px;
  height: 12px;
}

/*Hero*/

.hero {
  position: relative;
}

.hero .intro {
  margin-bottom: 6rem;
}

/*Otto Project*/
.ottoProject .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: start;
  margin-top: 100px;
}

.ottoProject .intro {
  grid-column: 4 / 8;
  grid-row: 1;
  width: 483px;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.1px;
}

.ottoProject .ottoAward {
  grid-column: 11 / 12;
  grid-row: 1;
  margin-top: 100px;
}

.ottoProject .info {
  grid-column: 6 / 12;
  grid-row: 2;
  opacity: 0.8;
  width: 380px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.1px;
}

.otto {
  grid-column: 1 / 12;
  grid-row: 2;
  margin-top: 70px;
}

.ottoVideo video {
  width: 100%;
  height: auto;
  max-width: 100%;
}

/*Two*/
.two .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: start;
  margin-top: 100px;
}

.two .intro {
  grid-column: 11 / 12;
  grid-row: 1;
  width: 495px;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.1px;
}

.two .media1 {
  grid-column: 2 / 12;
  grid-row: 2;
}
.mediaMonkey {
  grid-column: 7 / 12;
  grid-row: 2;
  margin-top: 300px;
}

.two .info {
  grid-column: 11 / 12;
  grid-row: 2;
  opacity: 0.8;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.1px;
  margin-left: 110px;
  margin-top: 189px;
  width: 278px;
}

/* Three */

.three .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: start;
  margin-top: 100px;
}

.three .intro {
  grid-column: 4 / 8;
  grid-row: 1;
  width: 483px;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.1px;
}

.three .active1 {
  grid-column: 11 / 12;
  grid-row: 1;
  margin-top: 100px;
}

.active1 img {
  width: 271px;
  height: 372.24px;
}

.three .info {
  grid-column: 7 / 12;
  grid-row: 2;
  opacity: 0.8;
  width: 380px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.1px;
  margin-top: 90px;
}

.info p:nth-of-type(2) {
  margin-top: 50px;
}

.active2 {
  grid-column: 1 / 12;
  grid-row: 2;
  margin-top: 240px;
}

.active2 img {
  width: 380px;
  height: 472px;
}

.active3 img {
  width: 360px;
  height: 270px;
}

.active3 {
  grid-column: 4 / 12;
  grid-row: 2;
  margin-top: 630px;
  margin-left: 50px;
}

/* Next Chapter*/

.next-chapter .nextContainer {
  text-align: center;
}
.next-chapter {
  height: 100vh;
}

.next-chapter .label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #e0ccbb;
  font-size: 14px;
  opacity: 0.7;
}

.next-chapter-link {
  text-decoration: none;
  font-size: 225.094px;
  letter-spacing: -7.81575px;
  color: #e0ccbb;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  color: #ffffff;
  font-size: 0.75rem;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 99;
  mix-blend-mode: difference;
  backdrop-filter: blur(4px);
}

.custom-cursor.visible {
  opacity: 1;
}

.custom-cursor span {
  color: #ffffff !important;
  font-family: "Lausanne";
  font-size: 0.75rem;
  white-space: nowrap;
}

.webgl {
  width: 0px;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

#webgl {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  pointer-events: none;
}

@media (max-width: 1024px) {
  .top-bar {
    width: 90%;
    left: 5%;
    top: 20px;
    flex-direction: row;
  }

  .container {
    margin: 20vw 5vw 0 5vw;
  }

  .title {
    line-height: 120px;
    font-size: 20vw;
  }

  .title-line {
    font-size: 20vw;
  }

  .ottoProject .container,
  .two .container,
  .three .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* fewer columns for mobile */
    gap: 16px;
  }

  .ottoProject .label,
  .three .label {
    grid-column: 1 / 7;
    grid-row: 1;
  }

  .ottoProject .intro,
  .three .intro {
    grid-column: 1 / 7;
    grid-row: 1;
    margin-top: 20px;
  }

  .ottoProject .intro,
  .three .intro,
  .two .intro {
    width: 100%;
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 16px;
  }

  .ottoProject .info,
  .two .info,
  .three .info {
    font-size: 12px;
    line-height: 16px;
  }

  .ottoProject .info {
    width: 90%;
    margin: 20px 0;
    margin-left: 40px;
  }

  .two .info {
    width: 60%;
    margin-top: 20px;
  }

  .three .info {
    width: 80%;
    margin: 20px 0;
  }

  .next-chapter-link {
    font-size: 80px;
    letter-spacing: -3px;
  }
}

@media (max-width: 600px) {
  .logo img {
    height: 20px;
  }

  .close-button {
    width: 30px;
    height: 30px;
  }

  .title {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .title-line {
    font-size: 20vw;
  }

  .label .text {
    font-size: 9px;
  }

  .icon {
    width: 9px;
    height: 9px;
  }

  .ottoProject .intro,
  .two .intro,
  .three .intro {
    font-size: 12px;
    line-height: 16px;
  }
  .custom-cursor {
    display: none;
  }

  .ottoAward img {
    width: 180px;
    height: auto;
  }

  .media1 img {
    width: 50%;
    height: auto;
  }
  .mediaMonkey img {
    width: 50%;
    height: auto;
    margin-left: 10%;
    margin-top: -10%;
  }
}
